.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: 500px) {
  .formControl {
    width: 30%;
    margin-bottom: 30px !important;
    margin-top: -130px;
}
}